*,
*::before,
*::after {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.image {
    display: block;
}

.header{
    max-width: 100%;
    height: 70px;
}

.header__container{
    max-width: 100%;
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo{
    margin-top: 11px;
    margin-left: 30px;
    flex: 2;
}

.header__user-logo{
    margin-top: 7px;
    padding: 8px;
}

.header__username{
    margin-top: 7px;
    padding: 8px;
}

.main__container {
    width: 100%;
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
}

.main__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: gray;
    align-items: center;
}

.main__block{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.main__input{
    display: flex;
    font-weight: 400;
    width: 100%;
    padding: 8px 12px;
    flex: 2;
    box-shadow: 0 0 5px 1px lightgray;
    font-family: inherit;
    font-size: inherit;
}

.main__button{
    display: flex;
    gap: 8px;
    width: 210px;
    background-color: #1859FF;
    padding: 16px;
    letter-spacing: 0;
    color: white;
    cursor: pointer;
    height: 40px;
    align-items: center;
}

.main__button-icon{
    width: 12px;
    height: 12px;
    padding-bottom: 25px;
}

.main__button-text{
    width: 146px;
    height: 24px;
}